// menu
.page-header__menu a {
  &::after {
    left: auto;
    right: 0;
    width: 0;
    transition: 0.3s;
  }
}

.page-header__menu a:hover,
.page-header__menu a:focus,
.page-header__menu a.active {
  &::after {
    right: auto;
    left: 0;
    width: 100%;
  }
}

.page-header__menu a.active {
  &::after {
    transition: 0.3s cubic-bezier(0.31, 1.03, 0.84, 0.95) 0.4s;
  }
}

//social
.social-block__toggler {
  transition: 0.3s;

  &::before {
    transform: translate(-50%, -50%) scale(0);
  }
}

.loaded .social-block__toggler {
  &::before {
    animation: bounce 0.5s ease-in-out 0.4s forwards;
  }
}

@keyframes bounce {
  70% {
    transform: translate(-50%, -50%) scale(1.1);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.social-block__toggler:hover + .social-block__list .social-block__link,
.social-block__toggler:focus + .social-block__list .social-block__link,
.social-block__list:hover .social-block__link {
  opacity: 1;
  transform: translateY(0);
}

.social-block__link {
  opacity: 0;
  transform: translateY(10px);
  transition: 0.5s;

  &--fb {
    transition-delay: 150ms;
  }

  &--insta {
    transition-delay: 200ms;
  }

  &--vk {
    transition-delay: 250ms;
  }
}

// intro
.intro__message {
  opacity: 0;
  transform: translateY(50px);
  transition: 0.8s;
}

.active .intro__message {
  opacity: 1;
  transform: translateY(0);
}

//slider
.arrow-type .slider__item:nth-child(2n) .slider__item-text {
  transition-delay: 200ms;
}

.slider__item-text {
  opacity: 0;
  transform: translateX(30px);
  transition: 0.8s;
}

.swiper-slide-active .slider__item-text,
.arrow-type .swiper-slide-next .slider__item-text {
  opacity: 1;
  transform: translateX(0);
}

//chat form
.chat__footer .form {
  margin-left: auto;
  width: 40%;
  transition: 0.5s;
}

.active .chat__footer .form {
  width: 100%;
}

// logo
.page-header__logo {
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s cubic-bezier(0.31, 1.03, 0.84, 0.95);
}

.loaded .page-header__logo {
  transform: translateX(0);
  opacity: 1;
}

//nav
.page-header__nav {
  @media (max-width: 1024px) and (orientation: portrait) {
    opacity: 1;
    transition: none;
  }
  opacity: 0;
  transition: 0.5s cubic-bezier(0.31, 1.03, 0.84, 0.95) 0.25s;
}

.loaded .page-header__nav {
  opacity: 1;
}

//footer
.screen__footer {
  transform: translateY(100%);
  transition: 0.5s cubic-bezier(0.31, 1.03, 0.84, 0.95);
}

.loaded .screen__footer {
  transform: translateY(0);
}

// toggler
.page-header__toggler {
  @media (max-width: 1024px) and (orientation: portrait) {
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.31, 1.03, 0.84, 0.95);
  }
}

.loaded .page-header__toggler {
  @media (max-width: 1024px) and (orientation: portrait) {
    opacity: 1;
  }
}
