@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInScaleX {
  from {
    opacity: 0;
    transform: scaleX(0.5);
  }

  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes swingForLeftEl {
  0% {
    transform: rotate(-15deg);
  }

  20% {
    transform: rotate(20deg);
  }

  40% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(10deg);
  }

  80% {
    transform: rotate(-5deg);
  }

  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes swingForRightEl {
  0% {
    transform: rotate(15deg);
  }

  20% {
    transform: rotate(-20deg);
  }

  40% {
    transform: rotate(15deg);
  }

  60% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(5deg);
  }

  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes chageColor {
  from {
    color: transparent;
  }

  to {
    color: var(--animated-color);
  }
}

@keyframes roll {
  from {
    transform: translateX(var(--space)) rotate(var(--deg));
    opacity: 0;
  }

  to {
    transform: translateX(0) rotate(0);
    opacity: 1;
  }
}

@keyframes upContent {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes hideContent {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}

@keyframes translateX {
  from {
    transform: translateX(var(--Xfrom));
  }

  to {
    transform: translateX(var(--Xto));
  }
}

